<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="description" content="Restaurante con cocina tradicional y moderna en Sevilla">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Restaurante{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block extra_css %}{% endblock %}
</head>

<body>

    <!-- 🔝 HEADER -->
    <header class="header">
        <div class="nav">
            <h2 class="logo">Restaurante</h2>

            <nav>
                <a href="/" class="{% if request.path == '/' %}activo{% endif %}">Inicio</a>

                <a href="/menu" class="{% if request.path == '/menu' %}activo{% endif %}">Carta</a>

                <a href="/menu_simple" class="{% if request.path == '/menu_simple' %}activo{% endif %}">Menu Simple</a>

                <a href="/contacto" class="{% if request.path == '/contacto' %}activo{% endif %}">Contacto</a>

                <!-- SOLO DEMO -->
                <a href="/admin/productos">Admin</a>
            </nav>
        </div>
    </header>

    <!-- 📄 CONTENIDO -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- 🔻 FOOTER -->
    <footer class="footer">
        <div class="footer-content">
            <p>🍽️ Restaurante Jesús Castaño</p>
            <p>
                🌐 <a href="https://jesuscmweb.com/" target="_blank">Web</a> |
                💻 <a href="https://github.com/jcm201080" target="_blank">GitHub</a>
            </p>

            <p>© <span id="year"></span> Todos los derechos reservados</p>
        </div>
    </footer>

    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>

    <a href="https://wa.me/34635487063?text=Hola%2C%20quiero%20hacer%20una%20reserva.%20😊" class="whatsapp-btn"
        target="_blank">
        💬
    </a>
</body>

</html>